html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body #bg {
    background: url(../media/simba.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
}